/* Start Color */
.c-blue {
    color: #0075ff;
}
.bg-blue {
    background-color: #0075ff;
}
.c-blue-alt {
    color: #0d69d5;
}
.bg-blue-alt {
    background-color: #0d69d5;
}
.c-orange {
    color: #f59e0b;
}
.bg-orange {
    background-color: #f59e0b;
}
.c-green {
    color: #22c55e;
}
.bg-green {
    background-color: #22c55e;
}
.c-red {
    color: #f44336;
}
.bg-red {
    background-color: #f44336;
}
.c-grey {
    color: #888;
}
.bg-grey {
    background-color: #888;
}
.c-grey-alt {
    color: #ccc;
}
.bg-grey-alt {
    background-color: #ccc;
}
.c-white {
    color: white;
}
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.c-black {
    color: black;
}
/* End Color */
/* Start Components */
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Components */
/* Start Box */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
/* End Box */
/* Start Padding + Margin + Border */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pd-20 {
    padding-bottom: 20px;
}
.ps-30 {
    padding-left: 30px;
}
.ps-15 {
    padding-left: 15px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-6 {
    margin-bottom: 6px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ms-10 {
    margin-left: 10px;
}
.ms-15 {
    margin-left: 15px;
}
.ms-5 {
    margin-left: 5px;
}
.me-10 {
    margin-right: 10px;
}
.me-15 {
    margin-right: 15px;
}
.border-none {
    border: none;
}
.border-color-ccc {
    border: 1px solid #ccc;
}
.border-color-eee {
    border: 1px solid #eee;
}
/* End Padding + Margin + Border */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End Position */
/* Start Font */
.text-center {
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End Border */
/* Start Width + Height */
.w-full {
    width: 100%;
}
.w-100px {
    width: 100px;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
.h-100px {
    height: 100px;
}
/* End Width */
/* Start Media */
@media (max-width: 767px) {
    .d-none-sm {
        display: none;
    }
    .text-sm-center {
        text-align: center;
    }
    .d-block-sm {
        display: block;
    }
}
/* End Media */
.overflow-hidden {
    overflow: hidden;
}
.curser-pointer {
    cursor: pointer;
}