:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --grey-alt-color: #ccc;
    --main-transition: 0.3s;
}
/* Start Box */
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.ps-30 {
    padding-left: 30px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.ms-10 {
    margin-left: 10px;
}
.ms-5 {
    margin-left: 5px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.color-black {
    color: black;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.text-center {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* End Border */
/* Start Width */
.w-full {
    width: 100%;
}
/* End Width */
/* Start Media */
@media (max-width: 767px) {
    .d-none-sm {
        display: none;
    }
}
/* End Media */
.overflow-hidden {
    overflow: hidden;
}
.curser-pointer {
    cursor: pointer;
}