:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --grey-alt-color: #ccc;
    --color: #eee;
    --main-transition: 0.3s;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start Componants */
.toggle-checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}
.toggle-switch {
    position: relative;
    background-color: var(--grey-alt-color);
    width: 78px;
    height: 32px;
    cursor: pointer;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.toggle-switch:hover {
    background-color: rgb(187, 187, 187);
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    position: absolute;
    font-weight: 900;
    background-color: white;
    color: #aaa;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch:hover {
    background-color: var(--blue-alt-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    color: var(--blue-color);
    left: 50px;
}
/* End Componants */
/* Start Sidebar */
.sidebar {
    width: 210px;
    height: 100%;
    top: 68px;
    box-shadow: 0 0 8px #ddd;
    position: fixed;
}
@media (max-width: 991px) {
    .sidebar {
        width: 100%;
        height: 150px;
        top: 67px;
        padding: 0px;
        z-index: 2;
    }
    .sidebar h3 {
        margin-bottom: 25px !important;
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: 100px;
        top: 25px;
        padding: 10px;
    }
}
.sidebar h3 {
    margin-bottom: 50px;
}
.sidebar h3::before,
.sidebar h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.sidebar h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar h3::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width: 991px) {
    .sidebar ul {
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }
    .sidebar ul li a i {
        font-size: 23px;
    }
}
@media (max-width: 767px) {
    .sidebar ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sidebar ul li a i {
        font-size: 14px;
    }
}
.sidebar ul li a {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
    color: var(--blue-color);
}
/* End Sidebar */
/* Start Head */
.head {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.head .search::before {
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    color: var(--grey-color);
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.head .search input {
    border: 1px solid var(--grey-alt-color);
    width: 160px;
    transition: width var(--main-transition);
    -webkit-transition: width var(--main-transition);
    -moz-transition: width var(--main-transition);
    -ms-transition: width var(--main-transition);
    -o-transition: width var(--main-transition);
}
.head .search input:focus {
    width: 200px;
}
.head .search input::placeholder {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification::before {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 19px;
    width: 9px;
    height: 9px;
    background-color: var(--red-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.head .icons img {
    width: 32px;
    height: 32px;
}
/* End Head */

/* Start Dashboard Page */
.page h1 {
    margin: 90px 240px 40px;
    z-index: 1;
}
@media (max-width: 991px) {
    .page h1 {
        margin: 250px 20px 50px;
        font-size: 45px;
    }
}
@media (max-width: 767px) {
    .page h1 {
        margin: 150px 20px 40px;
        font-size: 40px; 
    }
}
.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.page h1::before {
    background-color: white;
    width: 120px;
}
.page h1::after {
    background-color: black;
    width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 230px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 15px;
    } 
}
/* Start Welcome */
.welcome {
    overflow: hidden;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    padding: 2px;
    margin-left: 20px;
    margin-top: -32px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
    .welcome .avatar {
        width: 100px;
        height: 100px;
        margin-top: -55px;
    }
}
@media (max-width: 767px) {
    .welcome .avatar {
        margin-left: 0;
    }
}
@media (max-width: 991px) {
    .welcome .intro {
        justify-content: space-evenly;
        padding-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .welcome .intro {
        justify-content: center;
        padding-bottom: 30px;
    }
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .body {
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}
@media (max-width: 991px) {
    .welcome .body {
        flex-direction: column;
    }
}
.welcome .body > div {
    flex: 1;
}
@media (max-width: 991px) {
    .welcome .body > div:not(:first-child) {
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    .welcome .body > div span {
        margin-top: 3px;
    }
}
.welcome .visit {
    margin: 0 15px 20px auto;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
/* End Welcome */
/* Start Quick Draft */
.quick-draft form textarea {
    resize: none;
    height: 130px;
}
.quick-draft form input:last-child {
    float: right;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
    .quick-draft form input:last-child {
        float: none;
        margin: auto;
    }
}
.quick-draft form input:last-child:hover {
    background-color: var(--blue-alt-color);
}
/* End Quick Draft */
/* Start Yearly Targets */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
}
.targets .target-row .details {
    flex: 1;
}
.targets .target-row .details .progress {
    height: 4px;
}
.targets .target-row .details .progress > span {
    position: absolute;
    height: 100%;
}
.targets .target-row .details .progress > span span {
    position: absolute;
    bottom: 15px;
    right: -15px;
    padding: 2px 5px;
}
@media (max-width: 767px) {
    .targets .target-row .details .progress > span span {
        font-size: 10px;
    }
}
.targets .target-row .details .progress > span span::after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    left: 13px;
    bottom: -9px;
}
@media (max-width: 767px) {
    .targets .target-row .details .progress > span span::after {
        left: 10px;
    }
}
.targets .target-row .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.targets .target-row .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.targets .target-row .details .progress > .green span::after {
    border-top-color: var(--green-color);
}
.targets .blue .icon,
.targets .blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.targets .orange .icon,
.targets .orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.targets .green .icon,
.targets .green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End Yearly Targets */
/* Start Tickets Statistics */
.tickets .box {
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End Tickets Statistics */
/* Start Latest News */
.news .news-row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
    .news .news-row {
        flex-direction: column;
    }
}
.news .news-row img {
    width: 100px;
}
.news .news-row .info {
    flex: 1;
}
@media (max-width: 767px) {
    .news .news-row .label {
        margin: 10px auto;
    }
}
/* End Latest News */
/* Start Latest Tasks */
.tasks .tasks-row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.tasks .tasks-row .info {
    flex: 1;
}
.tasks .done {
    opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}
.tasks .tasks-row i {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.tasks .tasks-row i:hover {
    color: var(--red-color);
}
/* End Latest Tasks */
/* Start Latest Uploads */
.uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.uploads img {
    width: 40px;
    height: 40px;
}
/* End Latest Uploads */
/* Start Last Project Progress */
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.last-project ul .done::before {
    background-color: var(--blue-color);
}
.last-project ul .current::before {
    animation: change-color 0.8s infinite alternate;
    -webkit-animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
    position: absolute;
    width: 160px;
    bottom: -135px;
    right: 0;
    opacity: 0.2;
    animation: up-move 1s infinite;
    -webkit-animation: up-move 1s infinite;
}
/* End Last Project Progress */
/* Start Reminders */
.reminders .key {
    width: 15px;
    height: 15px;
}
.reminders .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders .green {
    border-left: 2px solid var(--green-color); 
}
.reminders .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders .red {
    border-left: 2px solid var(--red-color);
}
/* End Reminders */
/* Start Latest Post */
.latest-post .avatar {
    width: 48px;
    height: 48px;
}
.latest-post .post-content {
    line-height: 1.8;
    min-height: 140px;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}
.latest-post .post-stats .stats {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.latest-post .post-stats .stats:hover {
    color: rgb(83, 83, 83);
}
/* End Latest Post */
/* Start Social Media Stats */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.social-media .box:hover i {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}
/* End Social Media Stats */
/* Start Projects */
.projects {
    margin-left: 230px;
}
@media (max-width: 991px) {
    .projects {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.projects .responsive-table {
    overflow: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects table thead td {
    background-color: var(--color);
    font-weight: bold;
}
.projects table td {
    padding: 15px;
}
.projects table tbody td {
    border-bottom: 1px solid var(--color);
    border-left: 1px solid var(--color);
}
.projects table tbody td:last-child {
    border-right: 1px solid var(--color);
}
.projects table tbody tr:hover {
    background-color: #faf7f6;
}
.projects table img {
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
.projects .responsive-table::-webkit-scrollbar {
    height: 10px;
}
/* End Projects */

/* End Dashboard Page */

/* Start Profile Page */

/* Start Overviwe */
.profile-page {
    margin-left: 230px;
}
@media (max-width: 991px) {
    .profile-page {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 767px) {
    .profile-page .overviwe {
        flex-direction: column;
    }
}
.profile-page .overviwe .avatar-box {
    width: 300px;
}
@media (min-width: 767px) {
    .profile-page .overviwe .avatar-box {
        border-right: 1px solid var(--color);
    }
}
.profile-page .overviwe .avatar-box img {
    width: 120px;
    height: 120px;
}
.profile-page .overviwe .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .overviwe .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
    .profile-page .info-box .box {
        display: flex;
        justify-content: center;
    }  
}
.profile-page .info-box .box:not(:last-child) {
    border-bottom: 1px solid var(--color);
}
.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}
.profile-page .info-box .box h4 {
    font-weight: normal;
}
@media (max-width: 767px) {
    .profile-page .info-box .box h4 {
        font-size: 20px;
        font-weight: bold;
    }
}
.profile-page .info-box .box > div:not(:last-child) {
    width: 250px;
    padding: 10px 0 0;
}
.profile-page .info-box .box > div:last-child {
    margin-top: 15px;
}
@media (max-width: 767px) {
    .profile-page .info-box .box > div {
        display: flex;
        justify-content: center;
    }  
}
@media (max-width: 767px) {
    .profile-page .info-box .box > div:last-child {
        margin: 10px 100px;
    }
}
.profile-page .info-box .box .toggle-switch {
    height: 20px;
    font-size: 10px;
}
.profile-page .info-box .box .toggle-switch::before {
    width: 14px;
    height: 14px;
    top: 3px;
}
.profile-page .info-box .box .toggle-checkbox:checked + .toggle-switch::before {
    left: 59px;
}
/* End Overviwe */
/* Start Other Data */
@media (max-width: 767px) {
    .other-data {
        flex-direction: column;
        gap: 0;
    }
}
/* End Other Data */
/* Start My Skills */
.profile-page .my-skills {
    flex-grow: 1;
}
.profile-page .my-skills ul li:not(:last-child) {
    border-bottom: 1px solid var(--color);
}
.profile-page .my-skills ul li span {
    display: inline-flex;
    padding: 4px 10px;
}
/* End My Skills */
/* Start Latest Activities */
.profile-page .activities {
    flex-grow: 3;
}
.profile-page .activities .activity:not(:last-child) {
    border-bottom: 1px solid var(--color);
}
.profile-page .activities .activity img {
    width: 64px;
    height: 64px;
}
.profile-page .activities .activity .info {
    flex: 1;
}
@media (max-width: 767px) {
    .profile-page .activities .activity .info span:nth-child(2) {
        font-size: 13px;   
    }
}
@media (min-width: 768px) {
    .profile-page .activities .activity .date {
        text-align: right;
    }
}
@media (max-width: 767px) {
    .profile-page .activities .activity .date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        margin-left: 10px;
    }
}
/* End Latest Activities */

/* End Profile Page */

/* Start Animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
@keyframes up-move {
    0% {
        bottom: -135px;
    }
    10% {
        bottom: -100px;
    }
    20% {
        bottom: -50px;
    }
    30% {
        bottom: 0;
    }
    40% {
        bottom: 50px;
    }
    50% {
        bottom: 100px;
    }
    60% {
        bottom: 150px;
    }
    70% {
        bottom: 200px;
    }
    80% {
        bottom: 250px;
    }
    90% {
        bottom: 300px;
    }
    100% {
        bottom: 350px;
    }
}
/* End Animation */